.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Take up the full height of the container */
}
  